<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SstuttApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sstutt"
        tools:targetApi="31">
        <activity
            android:name=".ModeloActivity"
            android:exported="false" />
        <activity
            android:name=".MainRootActivity"
            android:exported="false" />
        <activity
            android:name=".PruebasActivity"
            android:exported="false" />
        <activity
            android:name=".NicoProfile"
            android:exported="false" />
        <activity
            android:name=".PepoProfile"
            android:exported="false" />
        <activity
            android:name=".IgnacioProfile"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ClothingFormActivity"
            android:exported="false" />
        <activity
            android:name=".InventarioActivity"
            android:exported="false" />
        <activity
            android:name=".MenuPrincipal"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".RequestPrendaActivity"
            android:exported="false" />
    </application>

</manifest>